# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# env files
.env*
venv
.pypirc
setup.py
# Other non-backstop related folders
js8call-source-code/
dist/
__pycache__